{% load static %}
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h6 class="text-white">Hello Bye</h6>
                </div>
                <div class="contact-details">
                    <p>HCMc, Binh Thanh, ward 12</p>
                    <p>Phone: (+84) 947 161 746</p>
                    <p>Email: <a href="mailto:thinhnt.helloworld@gmail.com">thinhnt.helloworld@gmail.com</a></p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="https://www.facebook.com/thinhoppa96/"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/thanhthinhkrb/"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/Thinh-Ngo"><i
                                    class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://thinhnt-freelancer.herokuapp.com"><i
                                    class="fa fa-id-card"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menus d-flex">
                    <ul class="list-unstyled">
                        <p>Thank you for coming by</p>
                    </ul>
                    <ul class="list-unstyled">
                        <p>Hope we meet soon</p>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="latest-posts">
                    <a href="https://manganelo.com" target="_blank">
                        <div class="post d-flex align-items-center">
                            <div class="image"><img src="{% static 'img/manga.jpg' %}" alt="..." class="img-fluid">
                            </div>
                            <div class="title">
                                <strong>More manga</strong>
                                <span class="date last-meta">Manga with english subtitle</span>
                            </div>
                        </div>
                    </a>
                    <a href="https://hollymoviehd.cc/home/" target="_blank">
                        <div class="post d-flex align-items-center">
                            <div class="image"><img src="{% static 'img/movies.png' %}" alt="..." class="img-fluid">
                            </div>
                            <div class="title">
                                <strong>More movies</strong>
                                <span class="date last-meta">Movies with english subtitle
                                </span>
                            </div>
                        </div>
                    </a>
                    <a href="https://unsplash.com" target="_blank">
                        <div class="post d-flex align-items-center">
                            <div class="image"><img src="{% static 'img/small-thumbnail-3.jpg' %}" alt="..."
                                    class="img-fluid"></div>
                            <div class="title"><strong>More images</strong><span class="date last-meta">Images without
                                    subtitle</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>2021</p>
                </div>
                <div class="col-md-6 text-right">
                </div>
            </div>
        </div>
</footer>